<footer class="main-footer">
  <div class="footer-sections">
    <!--Về ảnh-->
    <div class="footer-col">
      <img src="../assets/images/logo-footer.png" alt="MoVie On Logo" class="footer-logo">
      <div>
        <img src="../assets/images/bocongthuong.png" alt="Bộ Công Thương" class="footer-cert">
        <img src="../assets/images/dmca.png" alt="DMCA Protected" class="footer-cert">
      </div>
    </div>
    <!-- VỀ MOVIE ON -->
    <div class="footer-col">
      <h3>VỀ MOVIE ON</h3>
      <ul>
       <li><a href="gioi-thieu.html#gioi-thieu">Giới thiệu</a></li>
       <li><a href="gioi-thieu.html#tin-tuc">Tin tức & sự kiện</a></li>
       <li><a href="gioi-thieu.html#lien-he">Thông tin liên hệ</a></li>

      </ul>
    </div>
    <!-- QUY ĐỊNH -->
    <div class="footer-col">
      <h3>QUY ĐỊNH</h3>
      <ul>
        <li><a href="quy-dinh.html#dieu-khoan">Điều khoản sử dụng</a></li>
        <li><a href="quy-dinh.html#bao-mat">Chính sách bảo mật</a></li>
        <li><a href="quy-dinh.html#du-lieu">Thông tin dữ liệu</a></li>
      </ul>
    </div>

    <!-- LIÊN HỆ -->
    <div class="footer-col">
      <h3>LIÊN HỆ</h3>
      <p><i class="fas fa-phone"></i> 1900 6600</p>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:support@movieon.com">support@movieon.com</a>
      </p>
      <p>Theo dõi chúng tôi:</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>  
      </div>
    </div>
  </div>

  <!-- THÔNG TIN CÔNG TY -->
  <div class="company-info">
    <p>
      Công ty Cổ phần Viễn Thông Movie On - Người đại diện: Ông Nguyễn Thành Chiến.<br>
      Trụ sở: Tầng 5, Tòa nhà Movie On, Số 72 Lê Thánh Tôn, Phường Phú Nhuận, Quận 2, TP. Hồ Chí Minh.<br>
    </p>
    <p>
      Giấy chứng nhận đăng ký doanh nghiệp số 0101778163<br>
      Giấy phép cung cấp dịch vụ phát thanh, truyền hình trả tiền số 377/GP-BTTTT
    </p>
  </div>

  <!-- COPYRIGHT -->
  <div class="copyright">
    <p>&copy; 2025 Movie On. Bảo lưu mọi quyền.</p>
  </div>
</footer>
